/* app css stylesheet */

.menu {
  list-style: none;
  color: #fff;
  background: #000;
  padding: 20px;
  margin: 0;
}

.menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.menu a:hover {
  color: #0f0;
}

.menu > li {
  display: inline-block;
  padding: 5px;
}

.content{
  padding: 20px;
}
